.bordered td{
  border: 2px solid black;
}
th{
  border: 4px solid black;
}
table {
  width: 0;
}

.btn-tertiary{
  color:#555;
  padding:0;
  line-height:40px;
  width:300px;
  margin:auto;
  display:block;
  border:2px solid #555
}

.btn-tertiary:hover,.example-2 .btn-tertiary:focus{
  color:#888;
  border-color:#888
}

.input-file{
  width:.1px;
  height:.1px;
  opacity:0;
  overflow:hidden;
  position:absolute;
  z-index:-1
}

.input-file + .js-labelFile{
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  padding:0 10px;
  cursor:pointer
}

.input-file + .js-labelFile .icon:before{
  content:"\f093"
}

.input-file + .js-labelFile.has-file .icon:before{
  content:"\f00c";
  color:#5AAC7B
}

.nlink {
  display: inline;
  background-color: black;
  text-decoration: none;
  color: white;
  padding: 7px;
  border: 3px solid #555555;
  border-radius: 4px;
  margin-left: 10px;
}

.nlink:hover {
  background-color: #555555;
  text-decoration: none;
  color: white;
  }








