.login, .pass, .subButton {
    display: block;
    margin: 15px 25px;
}

h1 {
    text-align: center;
}

.userForm {
    width: 20%;
    height: 50%;
    margin: 40px auto;
    border: 3px solid #f1f1f1;
    padding: 10px 20px;
}
